.LandingTransition {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -99;
    visibility: visible;
}

.LandingTransitionAnimated {
    visibility: hidden;
    transition: visibility 1.1s;
}

.LandingTransitionIcon {
    position: absolute;
    opacity: 1.0;
    top: 50%;
    left: 50%;
    margin-top: -177px;
    margin-left: -100px;
    width:186px;
    height:212px;
    transition-property: width, height, top, margin-top, margin-left;
    transition-duration: 1s, 1s, 1s, 1s, 1s;
}

.LandingTransitionIconImage {
    width:186px;
    height:212px;
    transition-property: width, height;
    transition-duration: .5s, .5s;
}

.LandingTransitionIconAfter {
    position: absolute;
    opacity: 1.0;
    top: 0%;
    left: 50%;
    margin-top: 26px;
    margin-left: -16px;
    width:33px;
    height:33px;
    transition-property: width, height, top, margin-top, margin-left;
    transition-duration: 1s, 1s, 1s, 1s, 1s;
}

.LandingTransitionIconImageAfter {
    width:33px;
    height:33px;
    transition-property: width, height;
    transition-duration: .5s, .5s;
}

.LandingTransitionSocialMediaContainer {
    width: 241px;
    height: 40px;
    position: absolute;
    opacity: 1.0;
    bottom: 50%;
    left: 50%;
    margin-bottom: -287px;
    margin-left: -120px;
    transition-property: width, height, bottom, margin-bottom, margin-left;
    transition-duration: 1s, 1s, 1s, 1s, 1s;
}

.LandingTransitionSocialMediaContainerAfter {
    width: 222px;
    height: 40px;
    z-index: 9999;
    position: absolute;
    opacity: 1.0;
    bottom: 0%;
    left: 50%;
    margin-bottom: 24px;
    margin-left: -111px;
    transition-property: width, height, bottom, margin-bottom, margin-left;
    transition-duration: 1s, 1s, 1s, 1s, 1s;
}