
.ArticleTitle {
    font-family: Varela Round;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 23px;
    letter-spacing: 1.58333px;
    color: #4A4A4A;

}

.ArticleDate {
    font-family: Varela Round;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 1px;
    color: #909090;
    display: inline-flex;
    padding: 13px;
    padding-left: 43px;
    padding-right: 43px;
    border-bottom: 1px solid #E6E6E6;
}

.ArticleTypes {
    display: inline-flex;
}

.ArticleTypesContainer {
    padding-top: 13px;
}

.ArticleContent {
    font-family: Varela Round;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 35px;
    text-align: left;
    padding: 32px;
    padding-top: 5px;
    letter-spacing: 1px;
}