/* ONLY FOR MOBILE */
.BlogPageBottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 64px;
    padding-top: 28px;
}

.BlogPageBottomContainer {
    margin: auto;
    width: 222px;
}

.BlogPageWriting {
    position:absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding-top: 85px;
    padding-bottom: 92px;
    box-sizing: border-box;
}

.BlogPageWritingContent {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.BlogPage {
    opacity: 0.0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0vw;
}

.BlogPageHidden {
    opacity: 1.0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: -100vw;
    transition-property: left, opacity;
    transition-duration: 1s, 0.5s;
}

.BlogPage_Animated {
    opacity: 1.0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0vw;
    transition-property: left, opacity;
    transition-delay: 0s, 0.75s;
    transition-duration: 1s, 0.5s;
    
}