.EnterButton {
    width: 241px;
    height: 70px;

    background: #4A90E2;
    border-radius: 8px;

    font-family: Varela Round;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;

    color: #FFFFFF;

    border:0px;
    outline:none;
    cursor: pointer;
}

.EnterButton:hover {
    background: #4082CF;
}

.EnterButton:active {
    background: #3469A6;
}