.social_media_buttons {
    width: 36px;
    height: 36px;
    cursor: pointer;
    opacity: 1.0;
}

.social_media_buttons:hover {
    opacity: 0.6;
}

.social_media_buttons:active {
    opacity: 1.0;
}