.BlogPostArticle {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;
}

.BlogPostArticle:hover {
 background: #CCCCCC;
}

.BlogPostArticleContainer {
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

.BlogPostArticleDate {
    font-family: Varela Round;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 1px;
}

.BlogPostArticleTitle {
    font-family: Varela Round;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 23px;
    align-items: center;
    text-align: left;
    letter-spacing: 1.58333px;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.BlogPostTypeContainer{
    display: flex;
    padding-top: 5px;
}