.page {
  display: flex;
  padding: 13px;
  border-radius: 3px;
}

.page:hover {
  background: #D8D8D8;
  cursor: pointer;
}

.text {
  font-family: VarelaRound-Regular;
  font-size: 18px;
  color: #4A4A4A;
  letter-spacing: 1.5px;
  flex-grow: 1;
}
