.TitleBar {
    position: absolute;
    width: 100%;
    height: 33px;
    padding: 26px;
    box-sizing: border-box;
    z-index: 999;
}

/* LITERALLY ONLY FOR MOBILE */
.TitleBarLogo {
    width: 33px;
    height: 33px;
    margin: auto;
}

.TitleBarLogoIcon {
    width: 33px;
    height: 33px;
}

.TitleBarHamburger {
    position: absolute;
    left: 26px;
    top: 26px;
    width: 33px;
    height: 33px;
    cursor: pointer;
    border-radius: 5px;
}

.TitleBarShare {
    position: absolute;
    right: 26px;
    top: 26px;
    width: 33px;
    height: 33px;
    cursor: pointer;
    border-radius: 5px;
}

.TitleBarHamburger:hover{
    background: #828282;
}

.TitleBarShare:hover{
    background: #828282;
}

.TitleBarHamburgerImage {
    padding-top: 8px;
}